@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="text-center">
    <h1 class="display-4">About the Developer</h1>
    <img src="/Images/cg.png" width="800" />
    <p>My name is Chase Guymon. I designed my logo in 6th grade and it has stuck with me ever since. I am now going to Neumont College to get my degree in Computer Science Game Design. I will graduate in 2025, making me apart of Cohort 38. Bob-Tok became the name of this website because of my friends I made at Neumont. Whenever I needed a fake name, I used Bob Robert. It caught on with my friends and everyone started using that name. I don't think a better name could exist within the space of the perfect social media site!'</p>
</div>
