@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Bob-Tok</h1>
    <img src="/Images/bobTalkLogo.png" width="400" />
    <p>At Bob-Tok you can talk to Bob and many other people. Make friends and post on their sites. Enjoy the freedom of speech as you communicate online with all your friends, enemies, and Bob!</p>
</div>
